/* APP */
.app-container {
  height: 100vh;
}

/* NAVBAR */

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* GALLERY */

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100px;
  border: #cccc 1px solid;
  border-radius: 5px;
  margin: 5px;
}

/* .image-container {
  overflow: hidden;
} */

/* .image-container img {
  width: 100%;
  object-fit: cover;
} */

/* SLIDE SHOW */

.slide-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.slide-show-photo-container {
  display: flex;
  height: 95%;
}

.slide-show-photo-container img {
  align-self: center;
  max-height: 95%;
  max-width: 95vw;
  margin-top: 1em;
  margin-bottom: 1em;
}

.slide-show-controls {
  display: flex;
  justify-content: space-between;
  height: 5%;
  margin-bottom: 1em;
}

.slide-show-controls button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}